@model IEnumerable<simplelist.Models.MyEntitySample>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure demo</h1>
    <p class="lead">ASP.NET in Azure cloud demonstrating usage of PaaS Web App connected to PaaS SQL Database and web service on backend linux machine connected via VNET.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>List of items from SQL Database</h2>
        <p>
            <table class="table table-bordered">
                <thead>
                    <td>#</td>
                    <td>Name</td>
                </thead>
                @foreach(var i in Model)
                {
                    <tr>
                        <td>@i.Id</td>
                        <td>@i.Name</td>
                    </tr>
                }
            </table>
        </p>
    </div>
    <div class="col-md-6">
        <h2>VNET Backend data</h2>
        <table class="table table-bordered">
            <thead>
            <td>Linux data</td>
            </thead>
            <tr>
                <td>@ViewBag.LinuxData</td>
            </tr>
        </table>
    </div>
</div>